.env
.env.*
!.env.example

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.DS_Store
Thumbs.db

.idea/
.vscode/

dist/
build/

node_modules/

*.log

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
