IMAGE_NAMESPACE=ghcr.io/long-d176
IMAGE_PREFIX=mbs-final
APP_IMAGE_TAG=replace-with-git-sha

MYSQL_ROOT_PASSWORD=replace-me
MYSQL_DATABASE=movie_booking_db
MYSQL_USER=user
MYSQL_PASSWORD=replace-me

SMTP_EMAIL=replace-me
SMTP_PASSWORD=replace-me
JWT_SECRET=replace-me
ADMIN_BOOTSTRAP_EMAIL=
ADMIN_BOOTSTRAP_PASSWORD=
ADMIN_BOOTSTRAP_FULL_NAME=System Administrator

APP_DOMAIN=tungtungtungtungsahur.site
GRAFANA_DOMAIN=grafana.tungtungtungtungsahur.site
GRAFANA_ADMIN_PASSWORD=change-me
K8S_NAMESPACE=moviebooking
K8S_APP_NODEPORT=30080
K8S_GRAFANA_NODEPORT=30081
